:root {
  box-sizing: border-box;
  font-size: 16px;
  --main-text-color: #242331;
  --headings-font: "Anton", sans-serif;
  --content-text-font: "Work Sans", sans-serif;
  --metadata-bg-color: #12eaea;
  --tags-bg-color: #f564a9;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.App {
  max-width: 768px;
  margin: auto;
  color: var(--main-text-color);
}

.post {
  cursor: pointer;
  color: var(--main-text-color);
  margin-bottom: 2rem;
  padding: 1rem 1.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.post:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.post-header h2 {
  font-family: var(--headings-font);
  font-size: 1.8rem;
  text-transform: uppercase;
}

.post-metadata ul {
  display: flex;
}

.post-metadata li {
  margin-right: 0.4rem;
}

.post-metadata button {
  /* background-color: var(--metadata-bg-color);
  border: none;
  padding: 2px 0.4rem;
  font-family: var(--content-text-font);
  cursor: pointer; */
  border: none;
  border-bottom: 4px solid var(--metadata-bg-color);
  background-color: transparent;
  font-family: var(--content-text-font);
  cursor: pointer;
  font-size: 0.8rem;
  margin-right: 0.7rem;
  padding: 0;
}

.post-excerpt {
  padding: 0.7rem 0;
  font-size: 1.3rem;
  font-family: var(--content-text-font);
}

.post-tags button {
  border: none;
  padding: 2px 0.4rem;
  font-family: var(--content-text-font);
  margin-right: 0.4rem;
  background-color: var(--tags-bg-color);
  color: #ffffff;
  cursor: pointer;
}

/* SINGLE POST */
.single-post-title {
  font-family: var(--headings-font);
  font-size: 3rem;
}

.single-post-metadata {
  display: flex;
  justify-content: space-between;
}

.creator-date-wrapper {
  display: flex;
  align-items: center;
}

.creator-date-wrapper button {
  border: none;
  border-bottom: 4px solid var(--metadata-bg-color);
  background-color: transparent;
  font-family: var(--content-text-font);
  cursor: pointer;
  font-size: 0.8rem;
  margin-right: 0.7rem;
  padding: 0;
}

.creator-image {
  width: 1.6rem;
  height: 1.6rem;
  overflow: hidden;
  margin-right: 0.7rem;
  border-radius: 3px;
}

.likes-wrapper {
  display: flex;
}

.likes-icon {
  width: 1.3rem;
  position: relative;
  margin-right: 0.3rem;
  cursor: pointer;
}

.likes-count {
  font-family: var(--content-text-font);
}

.single-post-content {
  padding: 2rem 0;
}

.single-post-tags button {
  border: none;
  padding: 2px 0.4rem;
  font-family: var(--content-text-font);
  font-size: 0.8rem;
  margin-right: 0.4rem;
  background-color: var(--tags-bg-color);
  color: #ffffff;
  cursor: pointer;
}

/* COMMENTS */
.comments {
  margin: 3rem 0;
}

.comments-count {
  font-family: var(--headings-font);
}

.comment {
  display: flex;
  margin-bottom: 1rem;
}

.comment-image {
  width: 4rem;
  border-radius: 3px;
  overflow: hidden;
  margin-right: 1rem;
}

.comment-meta {
  display: flex;
  align-items: flex-start;
}

.comment-meta button {
  background-color: var(--metadata-bg-color);
  border: none;
  font-family: var(--content-text-font);
  cursor: pointer;
  font-size: 0.8rem;
  margin-right: 0.7rem;
  padding: 2px 0.4rem;
}

.submit-comment form {
  display: flex;
  flex-direction: column;
}

.submit-comment textarea {
  height: 4rem;
  margin-bottom: 1rem;
  resize: none;
}

.submit-comment input {
  width: 100px;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  font-family: var(--content-text-font);
  background-color: var(--main-text-color);
  color: #ffffff;
  font-weight: 600;
  border-radius: 3px;
}

.no-comments {
  margin-bottom: 1rem;
  font-family: var(--content-text-font);
}

/* FORM */
.edit-post h1,
.create-post h1 {
  font-family: var(--headings-font);
}

.form {
  font-family: var(--content-text-font);
}

.form fieldset {
  margin-bottom: 1.5rem;
}

.form input {
  width: 100%;
  font-family: var(--content-text-font);
}

.form button {
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  font-family: var(--content-text-font);
  background-color: var(--main-text-color);
  color: #ffffff;
  font-weight: 600;
  border-radius: 3px;
}

/* ADD NEW POST */
.add-new-post {
  padding: 2rem 0;
  display: flex;
  justify-content: flex-end;
}